body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.identity-method {
  display: flex;
  background-color: red;
  flex-direction: row-reverse;
}

.identity-method a {
  padding: 3px;
  margin: 5px 5px;
  color: #1d3000;
  background-color: white;
  border-radius: 3px;
}

.workouts {
  display: flex;
  justify-content: center;

}

.workout-details {
  margin-right: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px #92f492;
  box-sizing: border-box;
  padding: 10px 10px;
  color: #176461;
}

.workout-details button {
  border: 2px;
  background: #f9f9f9;
  color: #d29f10;
  font-size: 16px;
}

.workout-details button:hover {
  border: 2px;
  background: #ffffff;
  color: #ff0000;
  box-shadow: 2px 2px red;
  margin: 3px;
  border-radius: 3px;
}

.navbar ul {
  display: flex;
  background-color: black;
}

.navbar li a {
  margin-left: 20px;
  margin: 5px;
  padding: 3px 3px;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}


.register {
  background-color: #0009076b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register form {
  display: flex;
  flex-direction: column;
}



.login {
  background-color: #0009076b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.login form {
  display: flex;
  flex-direction: column;
}


.create form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cfb5a2;
  padding:5px;
}

.create form div {
  margin: 5px;
  font-size: 20px;
  color: #42503f;
}

.edit{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #cfb5a2;
  padding:5px;

}

.edit form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:5px;
}

